<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Details</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  {{#each products}}
    <tbody>
      <tr>
        <td>{{this.name}}</td>
        <td><a href="{{this.url}}">Link</a></td>
        <td><a href="{{this.updateUrl}}">Link</a></td>
        <td><a href="{{this.deleteUrl}}">Link</a></td>
      </tr>
    </tbody>
  {{/each}}
</table>
