<main>
  <h2>Category Details</h2>
  <section>
    <h3>Category Name: {{categoryName}}</h3>
    <p>Category Description: {{categoryDesc}}</p>
  </section>
  <section>
    {{#if products}}
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Details</th>
          </tr>
        </thead>
        {{#each products}}
          <tbody>
            <tr>
              <td>{{this.name}}</td>
              <td><a href="{{this.url}}">Details</a></td>
            </tr>
          </tbody>
        {{/each}}
      </table>
    {{#else}}
      <h4>No Products under this category</h4>
    {{/if}}
  </section>
</main>
