<main>
  <h2>Delete Category</h2>
  <section>
    <h3>Category Name: {{categoryName}}</h3>
    <p>Category Description: {{categoryDesc}}</p>
  </section>
  <section>
    {{#if products}}
      {{> productListTable products=products}}
      <h4>Cannot delete Category, Please Delete/Modify above Products before proceeding</h4>
    {{else}}
      <h4>Confirm the Deletion of the Category</h4>
      <form action="" method="POST" novalidate>
        <input type="hidden" name="categoryId" value="{{categoryId}}" required="true">
        <button type="submit">Delete</button>
      </form>
    {{/if}}
  </section>
</main>
