<main>
  <h2>Delete Product</h2>
  <section>
    {{> productDetailSection product=product}}
  </section>
  <section>
    <h4>Confirm the Deletion of the Product</h4>
    <form action="" method="POST" novalidate>
      <input type="hidden" name="productId" value="{{product._id}}" required="true">
      <button type="submit">Delete</button>
    </form>
  </section>
</main>
